html {
  scroll-behavior: smooth;
}

body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav a:hover {
  color: goldenrod;
}

.intro-header {
  text-align: center;
  padding: 50px;
  background-color: teal;
}

.intro-header img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
}

.intro-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro-header p {
  font-size: 1.2rem;
}

.skills {
  max-width: 10000px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background-color: #f5f5dc;
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.skills ul {
  list-style: none;
  padding-left: 0;
}

.skills li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue;
}

.project {
  width: calc(50% - 20px);
  margin-bottom: 40px;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.project p {
  font-size: 1.1rem;
  margin-top: 10px;
} 

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container img {
  max-width: 100px;
  margin-bottom: 10px;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.resume h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.resume p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.resume-links a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  /* Other styles */
}